// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
//
//## General
// Required mixins and functions
@import "mixins/color";
//
// Grid Settings
//
$grid-columns: 12 !default;
$grid-gutter: 2rem !default;
$grid-breakpoints: (
        xs: 544px,
        sm: 768px,
        md: 992px,
        lg: 1200px) !default;

// Font settings
//
$font-size-root: 16px;
$font-size: .8125rem;
$font-family: 'Lato', sans-serif;
$line-height: 1.2308;
$line-height-computed: $font-size * $line-height;

// Borders
//
$border-radius: .125rem;
$border-width: .0675rem;

// States
//
$hover: 10%;
$disabled: .6;

// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
//
//## Colors
// Color Palette
//
$color-gray-mine-shaft: #333 !default;
$color-gray-dove: #666 !default;
$color-gray-dusty: #999 !default;
$color-gray-concrete: #f2f2f2 !default;

$color-red: #F44336 !default;
$color-orange: #FF9800 !default;
$color-yellow: #FFEB3B !default;
$color-green: #4CAF50 !default;
$color-teal: #009688 !default;
$color-blue: #2196F3 !default;

// Color Definitions
//
$text-color: $color-gray-mine-shaft;
$text-color-secondary: $color-gray-dusty;

$border-color: $color-gray-dusty;
$focus-outline-color: $color-blue;

// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
//
//## Typography
// Headers
//
$h-initial-size: 1rem; // Need for generating other header-sizes
$h-size-step: .25rem;
$h-space: 2, 0, 1.5;

%h-main {
  font-family: $font-family;
  font-weight: 700;
}

%h-secondary {
  font-family: $font-family;
  font-weight: 400;
}

// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
//
//## Form
// Form-controls
//
//
//

//
// Radios & Checkboxes
$check-bg: $color-blue;
$check-bg-disabled: $color-gray-concrete;
$check-img-color: #fff;
$check-img-color-disabled: $color-gray-dusty;

$check-img-checkbox: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3E%3Cpath fill='#{colorBase64($check-img-color)}' d='M6.7,1.6L3.1,5.2L1.3,3.5L0.8,4.1l2.3,2.3l4.2-4.2L6.7,1.6z'/%3E%3C/svg%3E");
$check-img-disabled-checkbox: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3E%3Cpath fill='#{colorBase64($check-img-color-disabled)}' d='M6.7,1.6L3.1,5.2L1.3,3.5L0.8,4.1l2.3,2.3l4.2-4.2L6.7,1.6z'/%3E%3C/svg%3E");
$check-img-radio: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3E%3Ccircle r='2' fill='#{colorBase64($check-img-color)}'/%3E%3C/svg%3E");
$check-img-disabled-radio: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3E%3Ccircle r='2' fill='#{colorBase64($check-img-color-disabled)}'/%3E%3C/svg%3E");

$select-caret: url("data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20viewBox%3D%220%200%208%204%22%3E%0A%20%20%20%20%3Cpath%20fill%3D%22%23#{colorBase64($text-color)}%22%20d%3D%22M0%2C0l4%2C4l4-4C8%2C0%2C0%2C0%2C0%2C0z%22/%3E%0A%3C/svg%3E");
