// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
//
//## General
// Grid Settings
//
$grid-columns: 12 !default;
$grid-gutter: 2rem !default;
$grid-breakpoints: (
        xs: 544px,
        sm: 768px,
        md: 992px,
        lg: 1200px) !default;

// Font settings
//
$font-size: .8125rem;
$font-family: Verdana;
$line-height: 1.2308;
$line-height-computed: $font-size * $line-height;

$border-radius: .125rem;

// States
//
$hover: 10%;
$disabled: .6;

// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
//
//## Colors
// Color Palette
//
$color-gray-mine-shaft: #333 !default;
$color-gray-dove: #666 !default;
$color-gray-dusty: #999 !default;
$color-gray-concrete: #f2f2f2 !default;

$color-red: #f83200 !default;
$color-orange: #f86e00 !default;
$color-yellow: #f1b521 !default;
$color-green: #89c341 !default;
$color-teal: #00a79d !default;
$color-blue: #3cb6ce !default;

// Color Definitions
//
$text-color: $color-gray-mine-shaft;
$text-color-secondary: $color-gray-dusty;

$border-color: $color-gray-dusty;
$focus-outline-color: $color-blue;

// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
//
//## Typography
// Headers
//
$h1-size: 1.75rem;
$h2-size: 1.3125rem;
$h3-size: 1.125rem;
$h4-size: 1.125rem;
$h5-size: 1.2rem;
$h6-size: 1rem;

// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
//
//## Form
// Form-controls
//
// Radios & Checkboxes
$check-bg: $color-blue;
$check-bg-disabled: $color-gray-concrete;
$check-img-color: #fff;
$check-img-color-disabled: $color-gray-dusty;

$check-img-checkbox: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3E%3Cpath fill='" + $check-img-color + "' d='M6.7,1.6L3.1,5.2L1.3,3.5L0.8,4.1l2.3,2.3l4.2-4.2L6.7,1.6z'/%3E%3C/svg%3E");
$check-img-disabled-checkbox: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3E%3Cpath fill='" + $check-img-color-disabled + "' d='M6.7,1.6L3.1,5.2L1.3,3.5L0.8,4.1l2.3,2.3l4.2-4.2L6.7,1.6z'/%3E%3C/svg%3E");
$check-img-radio: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3E%3Ccircle r='2' fill='" + $check-img-color + "'/%3E%3C/svg%3E");
$check-img-disabled-radio: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3E%3Ccircle r='2' fill='" + $check-img-color-disabled + "'/%3E%3C/svg%3E");

