html, body {
  height: 100%; }

*, *:before, *:after {
  box-sizing: border-box; }

.radio {
  display: block; }
  .radio.radio_inline {
    display: inline-block; }
  .radio input {
    opacity: 0;
    width: 0;
    padding: 0;
    margin: 0;
    float: left; }
    .radio input:focus ~ .radio__label:before {
      box-shadow: 0 0 0.1em blue; }
    .radio input:checked ~ .radio__label:before {
      border-width: .4em; }
    .radio input:disabled ~ .radio__label:before {
      opacity: .5;
      cursor: not-allowed;
      background: #e6e6e6;
      border-color: gray !important;
      box-shadow: none !important; }
  .radio .radio__label:before {
    content: "";
    display: inline-block;
    vertical-align: text-top;
    width: 1em;
    height: 1em;
    margin-right: .25em;
    border-radius: 50%;
    background-color: #fff;
    border: 0.1em solid gray;
    transition: border .1s; }
  .radio:hover .radio__label:before {
    cursor: pointer;
    border-color: #5a5a5a;
    box-shadow: 0 0 0.1em blue; }
