html, body { height: 100%; margin: 0; }

*, *:before, *:after { box-sizing: border-box; }

body { font-size: 0.8125rem; font-family: Verdana; line-height: 1.2308; color: #333; }

.main-width { width: 90%; margin: 0 auto; }

.row { margin-left: -1.5em; margin-right: -1.5em; }

.row:before, .row:after { content: ""; display: table; }

.row:after { clear: both; }

[class^="col-"] { float: left; padding: 0 1.5em; }

@media (min-width: 544px) { .col-xs-1 { width: 8.33333%; } }

@media (min-width: 544px) { .col-xs-2 { width: 16.66667%; } }

@media (min-width: 544px) { .col-xs-3 { width: 25%; } }

@media (min-width: 544px) { .col-xs-4 { width: 33.33333%; } }

@media (min-width: 544px) { .col-xs-5 { width: 41.66667%; } }

@media (min-width: 544px) { .col-xs-6 { width: 50%; } }

@media (min-width: 544px) { .col-xs-7 { width: 58.33333%; } }

@media (min-width: 544px) { .col-xs-8 { width: 66.66667%; } }

@media (min-width: 544px) { .col-xs-9 { width: 75%; } }

@media (min-width: 544px) { .col-xs-10 { width: 83.33333%; } }

@media (min-width: 544px) { .col-xs-11 { width: 91.66667%; } }

@media (min-width: 544px) { .col-xs-12 { width: 100%; } }

@media (min-width: 768px) { .col-sm-1 { width: 8.33333%; } }

@media (min-width: 768px) { .col-sm-2 { width: 16.66667%; } }

@media (min-width: 768px) { .col-sm-3 { width: 25%; } }

@media (min-width: 768px) { .col-sm-4 { width: 33.33333%; } }

@media (min-width: 768px) { .col-sm-5 { width: 41.66667%; } }

@media (min-width: 768px) { .col-sm-6 { width: 50%; } }

@media (min-width: 768px) { .col-sm-7 { width: 58.33333%; } }

@media (min-width: 768px) { .col-sm-8 { width: 66.66667%; } }

@media (min-width: 768px) { .col-sm-9 { width: 75%; } }

@media (min-width: 768px) { .col-sm-10 { width: 83.33333%; } }

@media (min-width: 768px) { .col-sm-11 { width: 91.66667%; } }

@media (min-width: 768px) { .col-sm-12 { width: 100%; } }

@media (min-width: 992px) { .col-md-1 { width: 8.33333%; } }

@media (min-width: 992px) { .col-md-2 { width: 16.66667%; } }

@media (min-width: 992px) { .col-md-3 { width: 25%; } }

@media (min-width: 992px) { .col-md-4 { width: 33.33333%; } }

@media (min-width: 992px) { .col-md-5 { width: 41.66667%; } }

@media (min-width: 992px) { .col-md-6 { width: 50%; } }

@media (min-width: 992px) { .col-md-7 { width: 58.33333%; } }

@media (min-width: 992px) { .col-md-8 { width: 66.66667%; } }

@media (min-width: 992px) { .col-md-9 { width: 75%; } }

@media (min-width: 992px) { .col-md-10 { width: 83.33333%; } }

@media (min-width: 992px) { .col-md-11 { width: 91.66667%; } }

@media (min-width: 992px) { .col-md-12 { width: 100%; } }

@media (min-width: 1200px) { .col-lg-1 { width: 8.33333%; } }

@media (min-width: 1200px) { .col-lg-2 { width: 16.66667%; } }

@media (min-width: 1200px) { .col-lg-3 { width: 25%; } }

@media (min-width: 1200px) { .col-lg-4 { width: 33.33333%; } }

@media (min-width: 1200px) { .col-lg-5 { width: 41.66667%; } }

@media (min-width: 1200px) { .col-lg-6 { width: 50%; } }

@media (min-width: 1200px) { .col-lg-7 { width: 58.33333%; } }

@media (min-width: 1200px) { .col-lg-8 { width: 66.66667%; } }

@media (min-width: 1200px) { .col-lg-9 { width: 75%; } }

@media (min-width: 1200px) { .col-lg-10 { width: 83.33333%; } }

@media (min-width: 1200px) { .col-lg-11 { width: 91.66667%; } }

@media (min-width: 1200px) { .col-lg-12 { width: 100%; } }

h1, h2, h3, h4, h5, h6 { padding: 0; margin: 0; }

h1 { height: 4rem; font-size: 1.75rem; line-height: 2.75rem; padding-top: 1.0475rem; padding-bottom: 0.2025rem; }

h2 { height: 4rem; font-size: 1.3125rem; line-height: 2.3125rem; padding-top: 1.41063rem; padding-bottom: 0.27687rem; }

h3 { height: 4rem; font-size: 1.125rem; line-height: 2.125rem; padding-top: 1.56625rem; padding-bottom: 0.30875rem; }

h4 { height: 3rem; font-size: 1.125rem; line-height: 2.125rem; padding-top: 0.56625rem; padding-bottom: 0.30875rem; }

h5 { height: 3rem; font-size: 1.2rem; line-height: 2.2rem; padding-top: 0.504rem; padding-bottom: 0.296rem; }

h6 { height: 3rem; font-size: 0.9375rem; line-height: 1.9375rem; padding-top: 0.72188rem; padding-bottom: 0.34062rem; }

p { margin: 0; padding: 0.50001rem 0rem 0.50001rem; }

fieldset { border: 0; margin: 0; padding: 0; }

fieldset legend { border: 0; margin: 0; padding: 0.75002rem 0rem 0.25001rem; font-size: 1rem; }

.radio { display: block; padding: 0.25001rem 0rem 0.25001rem; }

.radio.radio_inline { display: inline-block; }

.radio input { opacity: 0; width: 0; padding: 0; margin: 0; float: left; }

.radio input:focus ~ .radio__label:before { box-shadow: 0 0 0.1em #3cb6ce; }

.radio input:checked ~ .radio__label:before { border-width: .4em; }

.radio input:disabled ~ .radio__label:before { opacity: .5; cursor: not-allowed; background: #cccccc; border-color: #666 !important; box-shadow: none !important; }

.radio .radio__label:before { content: ""; display: inline-block; vertical-align: text-top; width: 0.93752rem; height: 0.93752rem; margin-right: .25em; border-radius: 50%; background-color: #fff; border: 0.1em solid #666; transition: border .1s; }

.radio:hover .radio__label:before { cursor: pointer; border-color: #404040; box-shadow: 0 0 0.1em #3cb6ce; }

.btn { border: 0; border-radius: 2px; background: gray; color: #fff; }
