//
//## Headers
//
@mixin calc-header($font-size, $wrap) {
  $line-height: $font-size + 1;
  $baseline-from-bottom: 1rem;

  $magic: .69;

  $top: 1;
  $bottom: $baseline-from-bottom - ($line-height - $font-size * $magic) / 2;

  min-height: $wrap;
  font-size: $font-size;
  line-height: $line-height;
  padding-top: $wrap - $line-height - $bottom;
  padding-bottom: $bottom;
}