//
//## Headers
//
@mixin headers($initial-size: 1rem, $step: .25rem, $space: (2, 0, 1)) {
  @for $i from 6 through 1 {
    h#{$i} {
      line-height: $initial-size + $step * (6 - $i) + $step * 2;
      font-size: $initial-size + $step*(6 - $i);
      padding: space($space...);
    }
  }
}