html, body {
  height: 100%;
  margin: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

body {
  font-size: $font-size;
  font-family: $font-family;
  line-height: $line-height;
  color: $text-color;
}

.main-width {
  width: 90%;
  margin: 0 auto;
}